{% extends "base.html" %}
{% block content %}

{% load profile_tags %}
<div id="main">
    <div class="container">
        <section id="blog">
            <div class="hgroup">

		       <div class="input-append pull-right">
		           <form id="search" class="pull-left navbar-search" action="{% url "cause_list" %}{% update_get drop q %}">
			         <input type="text" name="q" placeholder="Talep Ara" value="{{ request.GET.q }}">
					<button class="btn" type="submit"><i class="icon-search"></i></button>
		           </form>
		       </div>

                <h1> Talepler </h1>
                <a href="{% url 'cause_create' %}" class="btn btn-success"> Yeni Talep oluştur</a>
            </div>
        {% for i in causes %}
        <div class="row">
            <div id="leftcol" class="span8">
                <article class="post">
                    <div class="post_header">
                        <h3 class="post_header">
                            <a href="{% url 'cause_detail' i.slug%}">{{i.title}}</a>
                        </h3>
                        <div class="post_sub">
                            <i class="icon_time"></i>
                            {{i.added}}
                            <i class="icon-comments-alt"></i>
                            {{i.supporters.all|length}}
                        </div>
                        talep sahibi: <a href="{% url 'profile_detail' i.user.username %}">{{i.user}}</a>
                    </div>
                    <br>
                    <div class="post_content">
                    <p>{{i.description}}</p>
                    </div>
                </article>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
</div>
{% endblock %}