<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Gezi Meclis'e{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/screen.css" rel="stylesheet">
    <style type="text/css">

    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{STATIC_URL}}js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed"
          href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.png">
</head>

<body>

<div class="container-narrow">

    <div class="masthead">
        <ul class="nav nav-pills pull-right">

            <li {% if request.path == '/' %}class="active"{% endif %}><a href="/">Ana Sayfa</a></li>

            {% url "profile_list" as url_profiles %}
            {% with len_slice=url_profiles|length|stringformat:"s" %}
            <li {% if request.get_full_path == url_profiles %}class="active"{% endif %}>
            	<a href="{{ url_profiles }}">Kullanıcılar</a>
            </li>
            {% endwith %}


            {% if user.is_authenticated %}
            {% url "notifications" as url_notifications %}
            {% with len_slice=url_notifications|length|stringformat:"s" %}
            <li {% if request.path|slice:len_slice == url_notifications %}class="active"{% endif %}>
                <a href="{{ url_notifications }}">Bildirimler</a>
            </li>
            {% endwith %}
            {% endif %}

            {% url "blog" as url_blog %}
            {% with len_slice=url_blog|length|stringformat:"s" %}
            <li {% if request.get_full_path == url_blog %}class="active"{% endif %}>
            	<a href="{{ url_blog }}">Günlük</a>
            </li>
            {% endwith %}

            {% if user.is_authenticated %}
           <li class="dropdown">
                      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{{user.username}} <b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'friends_list' %}">Arkadaşlar</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'profile_detail' user.username %}">Profil</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'profile_update' %}">Profili Güncelle</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'facebook_disconnect' %}">Çıkış Yap</a></li>
                      </ul>
                    </li>
            {% endif %}
        </ul>
        <h3 class="muted">Gezi Meclis'e</h3>
    </div>

    <hr>

    {% block first_content %}

    {% endblock %}



    <div class="row-fluid marketing">
        {% block second_content %}

        {% endblock %}
    </div>

    <hr>

    <div class="footer">
        <p>31 Mayıs 2013</p>
    </div>

</div>
<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}js/jquery-min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="//connect.facebook.net/en_US/all.js"></script>
<script>
      FB.init({
        appId  : '381241311975625',
        frictionlessRequests: true
      });

      function sendRequestViaMultiFriendSelector() {
        FB.ui({method: 'apprequests',
          message: 'GeziMeclise Uygulama İsteği'
        }, requestCallback);
      }

      function requestCallback(response) {
        // Handle callback here
      }
    </script>
</body>
<footer>
    {% block footer %}

    {% endblock %}
</footer>
</html>
