body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Profile columns */

.profile-column {
    text-align: center;
    min-height: 230px;
}

    .profile-column img {
        max-height: 150px;
    }

        .profile-column a {
            text-decoration: none;
        }

.profile-info {
    text-align: center;
}

/* Profile badges */

.profile-detail {
    font-size: 20px;
    margin: 60px 20px;
    line-height: 25px;
}

    .profile-detail p.count {
        background: #f8f8f8;
        width: 38%;
        margin-left: 10px;
        float: left;
        text-align: center;
        padding: 20px;
    }

    .profile-detail strong {
        width: 100%;
        display: block;
        font-size: 30px;
        margin: 0 0 10px;
    }

.support-action {
    text-align: center;
}

    .support-action a {
        margin-top: 40px;
        padding: 10px 20px;
    }

/* Blog */

.post header time {
    font-size: 20px;
    color: gray;
    display: block;
}

.post header h3 {
    margin-top: 0;
}