{% extends "base.html" %}


{% block first_content %}


    <div class="row">
        <div class="span2 profile-info">
            <h3>{{ object.first_name }} {{ object.last_name }}</h3>
            <p><img src="{{ MEDIA_URL}}{{ object.image }}"></p>
        </div>

        <div class="span5 profile-detail">
            <p class="count">
                <strong>{{ object.supports.all.count }}</strong>
                desteklediği
            </p>
            <p class="count">
                <strong>{{ object.supporters.all.count }}</strong>
                destek
			<a class="label" href="{% url "profile_list" %}?tag={{tag.name}}">{{tag.name}}</a>
			<input class="username" type="hidden" data-username="{{ object.username }}">

            <div class="support-action" id="id_div_unsupport" {% if not object in user.supports.all %}style="display:none"{% endif %}>
                Bu adayı destekliyorsun!
                <a class="support" data-username="{{ object.username }}" data-support="-">Desteğimi çekmek istiyorum.</a>
            </div>
            <div class="support-action" id="id_div_support" {% if object in user.supports.all %}style="display:none"{% endif %}>
                <a class="btn support" id="btn_destek" data-username="{{ object.username }}" data-support="+">Beni temsil eder, destekliyorum!</a>
            </div>

            {% if object.about_me %}
                <h3>Hakkında</h3>
                <p>{{ object.about_me  }}</p>
            {% endif %}

            <h3>Bağlantılar</h3>
            {% if object.website_url %}
                <p>
                Web Sayfası <br>
                <a href="{{ object.website_url }}">{{ object.website_url }}</a></p>
            {% endif %}
            {% if object.blog_url %}
                <p>
                Web Günlüğü <br>
                <a href="{{ object.blog_url }}">{{ object.blog_url }}</a></p>
            {% endif %}

            {% if object.facebook_profile_url %}
                <p>
                Facebook Profili <br>
                <a href="{{ object.facebook_profile_url }}">{{ object.facebook_profile_url }}</a>
                </p>
            {% endif %}
            <p>
                {% for tag in object.tags.all %}
                    <a class="label" href="{% url "profile_list" %}?tag={{tag.name}}">{{tag.name}}</a>
                {% endfor %}
            </p>

        </div>
    </div>


{% endblock %}


{% block footer %}

    <script>
    $(function () {
	    $('.support').click(function(){
	    	var username = $(this).data('username');
	    	var support = $(this).data('support');
	        $.ajax({
	            url:"{% url "profile_support" %}",
	            type:"POST",
	            data:{"username":username, 'csrfmiddlewaretoken': '{{csrf_token}}', "support": support},
	            dataType:"json",
	            complete: function(data){
	            	if (data.responseText == '+') {
		            	$('#id_div_support').hide();
		            	$('#id_div_unsupport').show();
	            	} else if (data.responseText == '-') {
		            	$('#id_div_unsupport').hide();
		            	$('#id_div_support').show();
	            	} else if (data.responseText == '0') {
		            	console.log(data);
	            	}
	            }
	         })
	    })
    });
    </script>
{% endblock %}
