{% extends "base.html" %}

{% load profile_tags %}

{% block content %}


<section id="discover_title">

    {% with request.GET.q as query %}

     <div class="hgroup">
        <div class="row">
           <div class="span9">
              <h1>üyeler</h1>
              <div class="post-sub">

                <span class="text-warning"><i class="icon-th"></i> {{ paginator.count }} üye</span>

                {% if object_list %}
                <span class="dropdown">
                  <a href="#sorting" class="dropdown-toggle text-success" data-toggle="dropdown">{% if sorting == 'pop' %}en çok desteklenenler{% else %}yeni katılanlar{% endif %} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% update_get with s='son' %}">yeni katılanlar</a></li>
                    <li><a href="{% update_get with s='pop' %}">en çok desteklenenler</a></li>
                  </ul>
                </span>
                {% endif %}

              </div>
           </div>

           <div class="span3">
		       <div class="input-append pull-right">
		           <form id="search" class="pull-left navbar-search" action="{% url "profile_list" %}{% update_get drop q %}">
			         <input type="text" name="q" placeholder="Ara" value="{{ request.GET.q }}">
					<button class="btn" type="submit"><i class="icon-search"></i></button>
		           </form>
		       </div>

           </div>

        </div>

     </div>
     {% endwith %}
</section>


<div class="row">

    <div class="span9">

		{% if object_list %}

		<div class="portfolio_strict row" id="content_container" style="overflow:visible !important">
		  {% for obj in object_list %}
  		    <div class="portfolio_item span3">
  		         <div class="portfolio_photo" style="background-image:url(http://graph.facebook.com/{{ obj.facebook_id }}/picture?type=large)">
  		           <a href="{% url "profile_detail" obj.username %}">
  		             <p>
  		             	{{ obj.about|default:""|truncatewords:10 }}
  		             	<br/>
  						<em>{{ obj.supports.all.count }} desteklediği, {{ obj.supporters.all.count }} destekçisi var</em>
  		             </p>
  		           </a>
  		         </div>
  		         <div class="portfolio_description">
  		              <h3><a href="{{ profile.get_absolute_url }}">{{ obj.get_full_name }}</a></h3>
  		              <p>
  		              {% if obj.region %}
	  		              <span class="text-warning">@{{ obj.region.name }}</span>
	  		          {% endif %}
  		              {% with obj.supporters.all.count as supporter_count %}
	  		              {% if supporter_count > 0 %}
		  		              <span class="text-success">{{ obj.supporters.all.count }} <i class="icon-thumbs-up"></i></span>
		  		          {% endif %}
  		              {% endwith %}
  		              </p>
  		         </div>
  		    </div>
		  {% endfor %}
		</div>

		{% else %}

		<div class="alert alert-block">
		  <h3>Kimseyi bulamadık</h3>
		  Bu kriterlere uygun üye yok!
		</div>

		{% endif %}

    </div>


    <div class="span3">
    	<select id="region_select">
   			<option value="">her yer</option>
    		{% for region in regions %}
    			<option value="{{ region.id }}" {% if request.GET.r == region.id|stringformat:"s" %}selected{% endif %}>{{ region.name }}</option>
    		{% endfor %}
    	</select>

		<div>
  		{% for tag in tags %}
  			<a href="{% update_get with tag=tag.name %}" class="label">{{ tag.name }}</a>
  		{% endfor %}
  		</div>

    </div>


</div>


{% if is_paginated %}
<div class="pagination">
  <ul>
    {% if page_obj.has_previous %}
      <li><a href="{% update_get with page=page_obj.previous_page_number %}">&laquo;</a></li>
    {% endif %}
    {% if page_obj.has_next %}
      <li><a href="{% update_get with page=page_obj.next_page_number %}" class="next">&raquo;</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

<div id="loading"></div>

{% endblock %}


{% block extra_bottom %}

{# seach filters #}
<script>

$('#region_select').change(function() {
	var region_id = $("option:selected", this).val();
	window.location.replace('{% update_get drop r %}&r=' + region_id);
});

</script>

{# infinite scroll #}
<script>
    $(function(){

      var $container = $('#content_container');

      $container.infinitescroll({
        navSelector  : '.pagination',    // selector for the paged navigation
        nextSelector : '.pagination a.next',  // selector for the NEXT link (to page 2)
        itemSelector : '.portfolio_item',     // selector for all items you'll retrieve
        loading: {
            finishedMsg: '',
            img: 'http://i.imgur.com/qkKy8.gif',
            msgText: "",
            selector: '#loading'
          }
        }
      );

    });
  </script>

{% endblock %}
