{% extends "base.html" %}
{% block first_content %}
<form class="form-horizontal" action="{% url 'profile_update' %}" method="post">{% csrf_token %}
  <div class="control-group">
      <div class="span6">

          {% for i in form  %}
  <div class="control-group">
    <label class="control-label"><h5>{{ i.label }}</h5></label>
    <div class="controls">
      {{i}}
    </div>
  </div>
          {% endfor %}
      </div>

  </div>

<button type="submit" class="btn">Kaydet</button>
 </form>
    <p>
    <button class="btn" onclick="sendRequestViaMultiFriendSelector(); return false;"
      value="Send Request">Arkadaşlarını davet et</button>
    </p>
{% endblock %}