{% extends "base.html" %}
{% block first_content %}
<form class="form-horizontal" method="post">{% csrf_token %}
  <div class="control-group">
      <div class="span6">

          {% for i in form  %}
              <div class="span3">
          {{ i.label }}</div><div class="span3">{{ i }}</div>
          {% endfor %}
      </div>

  </div>

<button type="submit" class="btn">Kaydet</button>
 </form>
    <p>
    <button class="btn" onclick="sendRequestViaMultiFriendSelector(); return false;"
      value="Send Request">Arkadaşlarını davet et</button>
    </p>
{% endblock %}